@import "tailwindcss";

@theme {
  --color-primary: "var(--color-primary)";
  --color-text: "var(--color-text)";
}

[theme="dark"] {
  --color-primary: black;
  --color-text: white;
}

[theme="dark"] {
  --color-primary: white;
  --color-text: black;
}
